* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    background-color: blueviolet;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.todolist {
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

h2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.icon {
    height: 2rem;
    margin-left: 10px;
}

.search {
    display: flex;
    background-color: #9930c2;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 2px black;

}

#input-box {
    width: 80%;
    margin-right: 10px;
    height: 3rem;
    border-radius: 5px;
    border: none;
    outline: transparent;
    font-size: 20px;
}

button {
    width: 20%;
    height: 3rem;
    border-radius: 5px;
    border: none;
    background-color: #edd60d;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: pink;
    transition: linear;
    transform: scale(1.1);
}

#list {
    justify-content: center;
    align-items: center;
    margin: 10px;
}

ul li {
    list-style: none;
    font-size: 22px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    margin-block: 10px;
    color: #000;
}

ul li::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(checkbox-unchecked.png);
    background-size: cover;
    position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    background: #f77cd0;
    border-color: #000;
    border-radius: 50px;
}

ul li.checked::before {
    background: url(checkbox-mark.png);
    background-size: cover;
    
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background-color: #edeef0;
    border-radius: 50%;
}